<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='container'>
<div class='col-lg-1'>
</div>
<div class='col-lg-10'>


<p class="text-info"><b>Please read the instructions carefully, as you will be quizzed about them, and they may change from game to game.</b></p>

<p class="text-info">As a participant in this experiment, you will play
a simple game with <%= (numPlayers-1) %>
other participant
Your participation will take between <%= minTimeMins %> and <%= maxTimeMins %> minutes.
 each game consisting of a number of rounds.
You are matched with the same <%= numPlayers > 2?"set of fellow players":"player" %> across all rounds within a given game.
</p>

<p class="text-info">After going through the instructions and a walk-through of the game, and then answering a short quiz on these,
you will be placed in a waiting room. The game will start as soon as <%= numPlayers > 2?"the required number of players have":" a partner has" %> joined the game, at which point a beep will alert you.
If this does not happen within <%= waitingRoomTime/1000 %> seconds (there will be a timer counting down),
you have the option of leaving with just the task's standard reward. You may continue waiting if you wish,
but once a game has started, leaving the game before the final payment screen
will result in you getting paid neither the task reward nor the accumulated bonus.</p>


<p>Each phase in the game is timed,
and if a phase requires you to perform a specific action,
you must do so within the allotted time in order to avoid being ejected from the game.
The time allotted for each phase in the first round of the game will be longer than those in subsequent rounds,
in order to allow you time to get used to the interface.</p> 

<table class="cleantable"><tr><td align="left">
</td><td align="right">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="NEXT PAGE &raquo;"/>
</form>
</td></tr></table>




<p class="text-info">In each round of the game, you and your fellow participant<%= numPlayers > 2?"s":"" %> will
be individually offered a choice between two actions, the payoff depending on the actions that both you and your fellow participant<%= numPlayers > 2?"s":"" %> choose.
<b>You must select your action before the timer at the top of the page runs out.</b>
At all times, under the payoff grid, you can see the average number of chips you have earned this way, and the total amount of money you will get as your performance-based bonus.</p>

<p class="text-info"><br/>This is the <u>Action Phase</u>.</p>
        Example (timer below will be counting down in actual gameplay):<br/><br/>
        <div class="well">
          <div class="timercritical"><div class="timerdyn"><span id="timerDisplay">6</span>s</div></div>
    <div class="alert alert-error">STARTING NEW ROUND</div><br/>
      <p class="text-info">Each of you can choose one of the following  actions for the following payoffs:</p>
      <table class="cleantable" id="payoffMatrix">
      <tr>
        <td class="tabledata"></td>
        <td class="tabledata"></td>
        <th class="tableheader" colspan="">Your Action</th></tr>
      <tr>
        <td class="tabledata"></td>
        <td class="tabledata"></td>
        <th class="tableheader">
          <input align="middle" class="btn btn-primary" name="action" id="action" type="submit" value="" style="width:100%;" disabled="disabled"/>
        </th>
      </tr>
      <tr>
        <th class="tableheader" rowspan="">Their<br/>Action</th>
        <th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;" disabled="disabled"></button></th>
        <td class="tabledata">
          <span class="youget">You Get </span><br/><span class="theyget">They Get </span>
        </td>
      </tr>
      </table>
          <script language="javascript">rotateTableById("payoffMatrix");</script>
    <table class="cleantable">
    <tr><td class="tabledatavital">Running Average (chips per round)</td><td class="tabledatavital"></td></tr>
    <tr><td class="tabledatavital">Accumulated Earning (<%= currency %>)</td><td class="tabledatavital"></td></tr>
    </table>
          <br/>
    <div class="alert alert-info">Please wait ... the next phase will begin shortly.</div>
          <br/>
        </div>
          <p>
          </p>
<table class="cleantable"><tr><td align="left">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="&laquo; PREV PAGE"/>
</form>
</td><td align="right">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="NEXT PAGE &raquo;"/>
</form>
</td></tr></table>


<div class="information">

<p class="text-info">In the next screen, each participant is presented with a reviewof the round. You can see your and
<%=numPlayers>2?"":"the" %> other participant<%=numPlayers>2?"s'":"'s" %> actions and payoffs  for the round, which will add up at the end of all rounds to each participant's total payment.
<br/><br/>This is the <u>Review Phase</u></p>
<br/>
          Example (timer below will be counting down in actual gameplay):<br/><br/>
          <div class="well">
          <div class="timerok"><div class="timerdyn"><span id="timerDisplay">4</span>s</div></div>
          
    <br/><br/>
    <p class="text-info">Review:</p>
      <br/><br/>
      <table class="cleantable" id="payoffMatrix">
      <tr>
        <td class="tabledata"></td>
        <td class="tabledata"></td>
        <th class="tableheader" colspan="">Your Action</th></tr>
      <tr>
        <td class="tabledata"></td>
        <td class="tabledata"></td>
        
        <th class="tableheader">
          <button type="button" disabled="disabled" class="btn" style="align:center;width:100%;"></button>
        </th>
      </tr>
      <tr>
        <th class="tableheader" rowspan="">Their<br/>Action</th>
        <th class="tableheader"><button disabled="disabled" type="button" class="btn" style="align:center;width:100%;"></button></th>
        <td class="tabledata">
          <span class="youget">You Get </span><br/><span class="theyget">They Get </span>
        </td>
      </tr>
      </table>
          <script language="javascript">rotateTableById("payoffMatrix",);</script>
    <table class="cleantable">
    <tr><td class="tabledatavital">Running Average (chips per round)</td><td class="tabledatavital"></td></tr>
    <tr><td class="tabledatavital">Accumulated Earning (<%= currency %>)</td><td class="tabledatavital"></td></tr>
    </table>
      
          <br/>  
          </div>
<br/>
<p class="text-info">In this case, your total income <u>for this round only</u>chips, based on the actions that you and other participant took.</p>
<p class="text-info">If this is the last round, you have to then click a button to review the game and follow instructions to take you to the final payment screen (you will not be paid until you do this).
</p>

<table class="cleantable"><tr><td align="left">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="&laquo; PREV PAGE"/>
</form>
</td><td align="right">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="NEXT PAGE &raquo;"/>
</form>
</td></tr></table>



</div>

<p class="text-info">Note the two circumstances in which participants will not be paid:</p>
<ul>
<li>Once in the waiting room, they leave the waiting room before the waiting room timer runs out.</li>
<li>Once in a game, they try to return an assignment orstop/close a game at any time before the final payment screen.</li>
</ul> 
<br/>
<div class="alert alert-error">Note also that if a player does not select their action before the timer at the top of the screen runs out, a random action will be selected on their behalf, and the player will not get be paid anything.<br/>Please <b>do not double-click</b> anything, and please <b>wait for a signal to proceed</b> from the experiment coordinator if your interface instructs you so.</div> 
<br/>

<table class="cleantable"><tr><td align="left">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="&laquo; PREV PAGE"/>
</form>
</td><td align="right">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="NEXT PAGE &raquo;"/>
</form>
</td></tr></table>


<p class="text-info">Payment will be the total earnings in the game across all rounds.
In the unlikely event that the  performance-based component of a participant's earning in the game adds up negative in the grand total, it will be ignored (no negative bonus earning is possible).</p>
<p class="text-info">Participants are anonymous to one another.</p>
<p class="text-info"><b>Please note that you must have JavaScript enabled at all times while you are playing this game, and that you must disable any browser security features that prevent or otherwise inhibit JavaScript within frames. Please also do not try to refresh or stop pages, or to use the browser's "Back" button. If you are asked to install a plugin for sound, please do so.</b></p>
<embed src="beep.wav" autostart="true" hidden="true" loop="false"><noembed><bgsound src="beep.wav" loop="1"></noembed></embed>

<p class="text-info">The next screen is a quiz that will help refine your understanding of the game.</p>

<table class="cleantable"><tr><td align="left">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="&laquo; PREV PAGE"/>
</form>
</td><td align="right">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input type="submit" class="btn btn-primary" value="TAKE THE QUIZ"/>
</form>
</td></tr></table>

    
        <div class="well" id="quiz">
    <p class="text-info">We hope the tutorial was useful. You may proceed to the waiting room for the game, once you submit correct answers to all the following questions regarding the payoff structure below:</p>
    <table class="cleantable" id="payoffMatrix">
    <tr><td class="tabledata"></td><td class="tabledata"></td><th class="tableheader" colspan="2">Your Action</th></tr>
    <tr><td class="tabledata"></td><td class="tabledata"></td><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">A</button></th><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">B</button></th></tr>
      <tr><th class="tableheader" rowspan="2">Their<br/>Action</th><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">A</button></th><td class="tabledata"><span class="youget">You Get </span><br/><span class="theyget">They Get </span></td><td class="tabledata"><span class="youget">You Get </span><br/><span class="theyget">They Get </span></td></tr>
      <tr><th class="tableheader"><button type="button" class="btn" style="align:center;width:100%;">B</button></th><td class="tabledata"><span class="youget">You Get </span><br/><span class="theyget">They Get </span></td><td class="tabledata"><span class="youget">You Get </span><br/><span class="theyget">They Get </span></td></tr>
    </table>
          <script language="javascript">rotateTableById("payoffMatrix");</script>
    </div>
    <br/>
          <p>
          </p>
      <table class="cleantable" id="quiztable">
      
        <tr>
          <td class="tableinstruction">
          How much do you get if you choose action  the other player chooses action ?
          </td></tr>
      </table>
      <br/><br/>
      <div class="alert alert-error" id="warningMessage" style="display:none;"></div>
      <div id="goahead" style="display:none;"><div class="alert alert-success">You have answered all questions correctly.</div><br/><div class="alert alert-info" id="instructionMessage" style="display:;"><h3>Please wait for the experiment coordinator to provide you with the game access code.</h3></div></div>
      <br/><br/>
<div id="contactme" style="display:none;"><div class="instruction"><input type="checkbox" id="contactable" checked="checked"/>&nbsp;I would like to be notified of future experiments.</div></div>
<table class="cleantable"><tr><td align="left">
<form method="post" target="_self" action="">
<input type="hidden" name="hitId" value=""/>
<input type="hidden" name="assignmentId" value=""/>
<input type="hidden" name="playerId" value=""/>
<input type="hidden" name="slide" value=""/>
<input id="backtut" type="submit" class="btn btn-primary" value="&laquo; BACK TO TUTORIAL"/>
</form>
</td><td align="right">
      <form name="masterForm" method="get" action="./entry" >
      <input type="submit" name="proceed" class="btn btn-primary" value="START GAME" />
      </form>
</td></tr></table>



</div>
<div class='col-lg-1'>
</div>
</div>
  </body>
</html>